# Siempre comenzamos importando los módulos de Phyton

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

# Conceptos básicos del df

In [4]:
# Creamos una instancia de df vacío
df = DataFrame()

In [5]:
# Cargamos un df desde un csv file
df = pd.read_csv('Boston House Prices.csv') # si es un excel ponemos read_excel
df

     Rooms  Distance  Value
0    6.575    4.0900   24.0
1    6.421    4.9671   21.6
2    7.185    4.9671   34.7
3    6.998    6.0622   33.4
4    7.147    6.0622   36.2
..     ...       ...    ...
501  6.593    2.4786   22.4
502  6.120    2.2875   20.6
503  6.976    2.1675   23.9
504  6.794    2.3889   22.0
505  6.030    2.5050   11.9

[506 rows x 3 columns]

In [27]:
# Cargamos un df desde un archivo de Excel
workbook = pd.ExcelFile('Departamentos de Córdoba seteado.xlsx') # tiene que estar en misma carpeta
d = {}
for Hoja1 in workbook.sheet_names:
    df = workbook.parse(Hoja1,index_col=0) # ponemos index columna nulo xq ya tiene numerado el excel
df

            Departamentos      PBG  Población     Consumo   IDHR    NBI
N°
1             Calamuchita   466189      46870   294029.84  0.793  15.06
2                 Capitál  9273055    1306725  8197419.00  0.786  12.20
3                   Colón  1271521     182028  1141909.50  0.807  16.36
4            Cruz del Eje   289040      52906   331895.61  0.518  29.16
5            General Roca   476036      33415   209621.89  0.830  15.27
6      General San Martín  1180969     118429   742937.43  0.813   9.96
7                Ischilín   205080      30471   191153.63  0.602  21.08
8           Juárez Celman  1382524      88997   558304.13  0.805   9.82
9           Marcos Juárez  1539693     100200   628579.97  0.871   8.80
10                  Minas    26750       4897    30722.42  0.420  39.46
11                  Pocho    26712       5147    32289.29  0.404  40.77
12  Pte. Roque Sáenz Peña   505783      34677   217540.75  0.844  12.25
13                Punilla  1025037     162968  1022343.00  0.837  12.34
14             Río Cuarto  2208493     232175  1456491.40  0.655  11.15
15            Río Primero   688052      43516   272989.95  0.636  17.55
16               Río Seco   125958      13088    82103.79  0.496  30.95
17            Río Segundo  1163385      98264   616434.22  0.837  10.61
18            San Alberto   190839      34090   213854.35  0.670  26.26
19             San Javier   236806      50338   315782.67  0.687  22.01
20              San Justo  2530314     193000  1210739.10  0.885   9.33
21            Santa María   519539      89855   563682.45  0.757  16.11
22             Sobremonte    23529       4601    28864.16  0.045  30.37
23         Tercero Arriba  1222153     108225   678922.42  0.832   9.51
24                Totoral   403004      17068   107069.19  0.548  20.10
25                Tulumba   177644      12404    77812.27  0.413  30.86
26                  Unión  1491739     101052   633925.42  0.818  10.62

In [41]:
# Generamos un df a partir de series propias
departamentos = pd.Series(["Calamuchita","Capitál","Colón","Cruz del Eje","General Roca","General San Martín","Ischilín","Juarez Celman","Marcos Juárez","Minas","Pocho","Pte. Roque Sáenz Peña","Punilla","Río Cuarto","Río Primero","Río Seco","Río Segundo","San Alberto","San Javier","San Justo","Santa María","Sobremonte","Tercero Arriba","Totoral","Tulumba","Unión"],name="Departamentos")
pgb = pd.Series([466189,9273055,1271521,289040,476036,1180969,205080,1382524,1539693,26750,26712,505783,1025037,2208493,688052,125958,1163385,190839,236806,2530314,519539,23529,1222153,403004,177644,1491739],name="PGB")
consumo = pd.Series([46870,1306725,182028,52906,33415,118429,30471,88997,100200,4897,5147,34677,162968,232175,43516,13088,98264,34090,50338,193000,89855,4601,108225,17068,12404,101052],name="Consumo")

df = pd.concat([departamentos, pgb, consumo], axis=1)
df

            Departamentos      PGB  Consumo
0             Calamuchita   466189    46870
1                 Capitál  9273055  1306725
2                   Colón  1271521   182028
3            Cruz del Eje   289040    52906
4            General Roca   476036    33415
5      General San Martín  1180969   118429
6                Ischilín   205080    30471
7           Juarez Celman  1382524    88997
8           Marcos Juárez  1539693   100200
9                   Minas    26750     4897
10                  Pocho    26712     5147
11  Pte. Roque Sáenz Peña   505783    34677
12                Punilla  1025037   162968
13             Río Cuarto  2208493   232175
14            Río Primero   688052    43516
15               Río Seco   125958    13088
16            Río Segundo  1163385    98264
17            San Alberto   190839    34090
18             San Javier   236806    50338
19              San Justo  2530314   193000
20            Santa María   519539    89855
21             Sobremonte    23529     4601
22         Tercero Arriba  1222153   108225
23                Totoral   403004    17068
24                Tulumba   177644    12404
25                  Unión  1491739   101052

In [ ]:
# Guardamos un df en un archivo csv
df.to_csv('DepaCba.csv', encoding='utf-8')

In [10]:
# Guardamos un df en un archivo de Excel
with pd.ExcelWriter('dfDepartamentos.xlsx', engine='openpyxl') as writer:
    df.to_excel(writer, sheet_name='Hoja1')
# Si queremos agregar más hojas, simplemente repite el siguiente paso con diferentes nombres de hoja
with pd.ExcelWriter('dfDepartamentos.xlsx', engine='openpyxl', mode='a') as writer: # agregamos "a" para que no me lo sobreescriba y me lo abra en modo de adición
    df.to_excel(writer, sheet_name='Hoja2')

# Trabajando con el df entero

In [4]:
df.info() # index y tipos de datos
print("-------------------------------------------------------------")
dfh = df.head(5) # me devuelve las primeras 5 filas
print(dfh)
print("-------------------------------------------------------------")
dft = df.tail(5) # me devuelve las últimas 5 filas
print(dft)
print("-------------------------------------------------------------")
dfs = df.describe() # estadísticas generales del df
print(dfs)
print("-------------------------------------------------------------")
dfrfc = df.iloc[:4, :2] # me muestra el rango de filas y columnas que le aclaro (con índices)
print(dfrfc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Departamentos  26 non-null     object
 1   PGB            26 non-null     int64
 2   Consumo        26 non-null     int64
dtypes: int64(2), object(1)
memory usage: 756.0+ bytes
-------------------------------------------------------------
  Departamentos      PGB  Consumo
0   Calamuchita   466189    46870
1       Capitál  9273055  1306725
2         Colón  1271521   182028
3  Cruz del Eje   289040    52906
4  General Roca   476036    33415
-------------------------------------------------------------
     Departamentos      PGB  Consumo
21      Sobremonte    23529     4601
22  Tercero Arriba  1222153   108225
23         Totoral   403004    17068
24         Tulumba   177644    12404
25           Unión  1491739   101052
-------------------------------------------------------------
                PGB       Consumo
count  2.600000e+01  2.600000e+01
mean   1.101917e+06  1.217464e+05
std    1.799881e+06  2.497328e+05
min    2.352900e+04  4.601000e+03
25%    2.130115e+05  3.120700e+04
50%    5.126610e+05  5.162200e+04
75%    1.259179e+06  1.064318e+05
max    9.273055e+06  1.306725e+06
-------------------------------------------------------------
  Departamentos      PGB
0   Calamuchita   466189
1       Capitál  9273055
2         Colón  1271521
3  Cruz del Eje   289040

In [32]:
t = df.shape # (número de filas, número de columnas)
print(t)
print("-------------------------------------------------------------")
b = df.empty # verdadero para df vacío
print(b)
print("-------------------------------------------------------------")

(26, 3)
-------------------------------------------------------------
False

In [41]:
# df = df.copy() # copiar un df
df = df.sort_values(by="Departamentos") # ordena por orden alf/numérico según la columna
print(df)
print("-------------------------------------------------------------")
df = df.sort_values(by=["Consumo", "Departamentos"]) # ordena por orden alfa/numérico según la primera columna, si poseen el mismo valor, va primero según criterio de segunda columna
print(df)
print("-------------------------------------------------------------")
df = df.sort_index() # ordena por índices
print(df)

            Departamentos      PGB  Consumo
0             Calamuchita   466189    46870
1                 Capitál  9273055  1306725
2                   Colón  1271521   182028
3            Cruz del Eje   289040    52906
4            General Roca   476036    33415
5      General San Martín  1180969   118429
6                Ischilín   205080    30471
7           Juarez Celman  1382524    88997
8           Marcos Juárez  1539693   100200
9                   Minas    26750     4897
10                  Pocho    26712     5147
11  Pte. Roque Sáenz Peña   505783    34677
12                Punilla  1025037   162968
13             Río Cuarto  2208493   232175
14            Río Primero   688052    43516
15               Río Seco   125958    13088
16            Río Segundo  1163385    98264
17            San Alberto   190839    34090
18             San Javier   236806    50338
19              San Justo  2530314   193000
20            Santa María   519539    89855
21             Sobremonte    23529     4601
22         Tercero Arriba  1222153   108225
23                Totoral   403004    17068
24                Tulumba   177644    12404
25                  Unión  1491739   101052
-------------------------------------------------------------
            Departamentos      PGB  Consumo
21             Sobremonte    23529     4601
9                   Minas    26750     4897
10                  Pocho    26712     5147
24                Tulumba   177644    12404
15               Río Seco   125958    13088
23                Totoral   403004    17068
6                Ischilín   205080    30471
4            General Roca   476036    33415
17            San Alberto   190839    34090
11  Pte. Roque Sáenz Peña   505783    34677
14            Río Primero   688052    43516
0             Calamuchita   466189    46870
18             San Javier   236806    50338
3            Cruz del Eje   289040    52906
7           Juarez Celman  1382524    88997
20            Santa María   519539    89855
16            Río Segundo  1163385    98264
8           Marcos Juárez  1539693   100200
25                  Unión  1491739   101052
22         Tercero Arriba  1222153   108225
5      General San Martín  1180969   118429
12                Punilla  1025037   162968
2                   Colón  1271521   182028
19              San Justo  2530314   193000
13             Río Cuarto  2208493   232175
1                 Capitál  9273055  1306725
-------------------------------------------------------------
            Departamentos      PGB  Consumo
0             Calamuchita   466189    46870
1                 Capitál  9273055  1306725
2                   Colón  1271521   182028
3            Cruz del Eje   289040    52906
4            General Roca   476036    33415
5      General San Martín  1180969   118429
6                Ischilín   205080    30471
7           Juarez Celman  1382524    88997
8           Marcos Juárez  1539693   100200
9                   Minas    26750     4897
10                  Pocho    26712     5147
11  Pte. Roque Sáenz Peña   505783    34677
12                Punilla  1025037   162968
13             Río Cuarto  2208493   232175
14            Río Primero   688052    43516
15               Río Seco   125958    13088
16            Río Segundo  1163385    98264
17            San Alberto   190839    34090
18             San Javier   236806    50338
19              San Justo  2530314   193000
20            Santa María   519539    89855
21             Sobremonte    23529     4601
22         Tercero Arriba  1222153   108225
23                Totoral   403004    17068
24                Tulumba   177644    12404
25                  Unión  1491739   101052

In [29]:
# df = df.add(#serie,valor) # agregar df, Series o valor
s = df.count() # valores no NaN/nulos
print(s)
print("-------------------------------------------------------------")
s = df["PGB"].max() # maximo (podemos pedir de columna específica dejando el df solo)
print(s)
print("-------------------------------------------------------------")
s = df["PGB"].mean() # media (podemos pedir de columnas)
print(s)
print("-------------------------------------------------------------")
s = df["PGB"].median() # mediana (podemos pedir de columnas)
print(s)
print("-------------------------------------------------------------")
s = df["PGB"].min() # minimo (podemos pedir de columnas)
print(s)
print("-------------------------------------------------------------")
df20 = df["PGB"].mul(20) # multiplicar la serie (o columnas) por un valor
print(df20)
print("-------------------------------------------------------------")
# Aplicar el logaritmo natural a 'PGB', y agregar la serie
df['PGB_log'] = np.log(df['PGB'])
print(df)
print("-------------------------------------------------------------")
# podemos filtrar valores de una columna del df
df_filtrado = df[df['PGB'] > 1000000]
print(df_filtrado)

Departamentos    26
PGB              26
Consumo          26
PGB_log          26
dtype: int64
-------------------------------------------------------------
9273055
-------------------------------------------------------------
1101917.076923077
-------------------------------------------------------------
512661.0
-------------------------------------------------------------
23529
-------------------------------------------------------------
0       9323780
1     185461100
2      25430420
3       5780800
4       9520720
5      23619380
6       4101600
7      27650480
8      30793860
9        535000
10       534240
11     10115660
12     20500740
13     44169860
14     13761040
15      2519160
16     23267700
17      3816780
18      4736120
19     50606280
20     10390780
21       470580
22     24443060
23      8060080
24      3552880
25     29834780
Name: PGB, dtype: int64
-------------------------------------------------------------
            Departamentos      PGB  Consumo    PGB_log
0             Calamuchita   466189    46870  13.052346
1                 Capitál  9273055  1306725  16.042623
2                   Colón  1271521   182028  14.055724
3            Cruz del Eje   289040    52906  12.574320
4            General Roca   476036    33415  13.073249
5      General San Martín  1180969   118429  13.981846
6                Ischilín   205080    30471  12.231155
7           Juarez Celman  1382524    88997  14.139421
8           Marcos Juárez  1539693   100200  14.247094
9                   Minas    26750     4897  10.194290
10                  Pocho    26712     5147  10.192868
11  Pte. Roque Sáenz Peña   505783    34677  13.133863
12                Punilla  1025037   162968  13.840239
13             Río Cuarto  2208493   232175  14.607821
14            Río Primero   688052    43516  13.441620
15               Río Seco   125958    13088  11.743704
16            Río Segundo  1163385    98264  13.966844
17            San Alberto   190839    34090  12.159185
18             San Javier   236806    50338  12.374997
19              San Justo  2530314   193000  14.743854
20            Santa María   519539    89855  13.160697
21             Sobremonte    23529     4601  10.065989
22         Tercero Arriba  1222153   108225  14.016125
23                Totoral   403004    17068  12.906702
24                Tulumba   177644    12404  12.087537
25                  Unión  1491739   101052  14.215453
-------------------------------------------------------------
         Departamentos      PGB  Consumo    PGB_log
1              Capitál  9273055  1306725  16.042623
2                Colón  1271521   182028  14.055724
5   General San Martín  1180969   118429  13.981846
7        Juarez Celman  1382524    88997  14.139421
8        Marcos Juárez  1539693   100200  14.247094
12             Punilla  1025037   162968  13.840239
13          Río Cuarto  2208493   232175  14.607821
16         Río Segundo  1163385    98264  13.966844
19           San Justo  2530314   193000  14.743854
22      Tercero Arriba  1222153   108225  14.016125
25               Unión  1491739   101052  14.215453

In [11]:
dff = df.filter(items=['PGB', 'Consumo']) # filtrar columnas
print(dff)
print("-------------------------------------------------------------")
dff = df.filter(items=[5,9], axis=0) # filtrar filas
print(dff)

        PGB  Consumo
0    466189    46870
1   9273055  1306725
2   1271521   182028
3    289040    52906
4    476036    33415
5   1180969   118429
6    205080    30471
7   1382524    88997
8   1539693   100200
9     26750     4897
10    26712     5147
11   505783    34677
12  1025037   162968
13  2208493   232175
14   688052    43516
15   125958    13088
16  1163385    98264
17   190839    34090
18   236806    50338
19  2530314   193000
20   519539    89855
21    23529     4601
22  1222153   108225
23   403004    17068
24   177644    12404
25  1491739   101052
-------------------------------------------------------------
        Departamentos      PGB  Consumo
5  General San Martín  1180969   118429
9               Minas    26750     4897

# Trabajando con columnas

In [14]:
# Obtengo las etiquetas(index) de las columnas
idx = df.columns # obtener los index y tipos de las columnas
print(idx)
print("-------------------------------------------------------------")
label = df.columns[0] # index de la primer columna
print(label)
print("-------------------------------------------------------------")
l = df.columns.tolist() # lista de los index de columnas
print(l)
print("-------------------------------------------------------------")
a = df.columns.values # array de los index de columnas
print(a)

Index(['Departamentos', 'PGB', 'Consumo'], dtype='object')
-------------------------------------------------------------
Departamentos
-------------------------------------------------------------
['Departamentos', 'PGB', 'Consumo']
-------------------------------------------------------------
['Departamentos' 'PGB' 'Consumo']

In [43]:
# cambiando etiquetas de las columnas
df = df.rename(columns={'PGB':'PGB nuevo','Consumo':'Consumo nuevo'})
df
df.columns = ['Departamentos nuevo', 'PGB nuevo', 'Consumo nuevo'] # otra forma de renombrar columnas
print(df)

      Departamentos nuevo  PGB nuevo  Consumo nuevo
0             Calamuchita     466189          46870
1                 Capitál    9273055        1306725
2                   Colón    1271521         182028
3            Cruz del Eje     289040          52906
4            General Roca     476036          33415
5      General San Martín    1180969         118429
6                Ischilín     205080          30471
7           Juarez Celman    1382524          88997
8           Marcos Juárez    1539693         100200
9                   Minas      26750           4897
10                  Pocho      26712           5147
11  Pte. Roque Sáenz Peña     505783          34677
12                Punilla    1025037         162968
13             Río Cuarto    2208493         232175
14            Río Primero     688052          43516
15               Río Seco     125958          13088
16            Río Segundo    1163385          98264
17            San Alberto     190839          34090
18             San Javier     236806          50338
19              San Justo    2530314         193000
20            Santa María     519539          89855
21             Sobremonte      23529           4601
22         Tercero Arriba    1222153         108225
23                Totoral     403004          17068
24                Tulumba     177644          12404
25                  Unión    1491739         101052

In [44]:
s = df['Consumo nuevo'] # selecciono una columna como serie
print(s)
s2 = df['PGB nuevo'] # selecciono una columna como serie
print(s2)
s3 = df['Departamentos nuevo'] # selecciono una columna como serie
print(s3)
print("-------------------------------------------------------------")
# df = df[['PGB']] # selecciono una columna como nuevo df
# print(df)
# print("-------------------------------------------------------------")
df = df[['PGB nuevo','Consumo nuevo','Departamentos nuevo']] # selecciono 2 o más columnas como nuevo df
print(df)
print("-------------------------------------------------------------")
df = df[['Departamentos nuevo','PGB nuevo','Consumo nuevo']] # cambio el orden de las columnas
print(df)

0       46870
1     1306725
2      182028
3       52906
4       33415
5      118429
6       30471
7       88997
8      100200
9        4897
10       5147
11      34677
12     162968
13     232175
14      43516
15      13088
16      98264
17      34090
18      50338
19     193000
20      89855
21       4601
22     108225
23      17068
24      12404
25     101052
Name: Consumo nuevo, dtype: int64
0      466189
1     9273055
2     1271521
3      289040
4      476036
5     1180969
6      205080
7     1382524
8     1539693
9       26750
10      26712
11     505783
12    1025037
13    2208493
14     688052
15     125958
16    1163385
17     190839
18     236806
19    2530314
20     519539
21      23529
22    1222153
23     403004
24     177644
25    1491739
Name: PGB nuevo, dtype: int64
0               Calamuchita
1                   Capitál
2                     Colón
3              Cruz del Eje
4              General Roca
5        General San Martín
6                  Ischilín
7             Juarez Celman
8             Marcos Juárez
9                     Minas
10                    Pocho
11    Pte. Roque Sáenz Peña
12                  Punilla
13               Río Cuarto
14              Río Primero
15                 Río Seco
16              Río Segundo
17              San Alberto
18               San Javier
19                San Justo
20              Santa María
21               Sobremonte
22           Tercero Arriba
23                  Totoral
24                  Tulumba
25                    Unión
Name: Departamentos nuevo, dtype: object
-------------------------------------------------------------
    PGB nuevo  Consumo nuevo    Departamentos nuevo
0      466189          46870            Calamuchita
1     9273055        1306725                Capitál
2     1271521         182028                  Colón
3      289040          52906           Cruz del Eje
4      476036          33415           General Roca
5     1180969         118429     General San Martín
6      205080          30471               Ischilín
7     1382524          88997          Juarez Celman
8     1539693         100200          Marcos Juárez
9       26750           4897                  Minas
10      26712           5147                  Pocho
11     505783          34677  Pte. Roque Sáenz Peña
12    1025037         162968                Punilla
13    2208493         232175             Río Cuarto
14     688052          43516            Río Primero
15     125958          13088               Río Seco
16    1163385          98264            Río Segundo
17     190839          34090            San Alberto
18     236806          50338             San Javier
19    2530314         193000              San Justo
20     519539          89855            Santa María
21      23529           4601             Sobremonte
22    1222153         108225         Tercero Arriba
23     403004          17068                Totoral
24     177644          12404                Tulumba
25    1491739         101052                  Unión
-------------------------------------------------------------
      Departamentos nuevo  PGB nuevo  Consumo nuevo
0             Calamuchita     466189          46870
1                 Capitál    9273055        1306725
2                   Colón    1271521         182028
3            Cruz del Eje     289040          52906
4            General Roca     476036          33415
5      General San Martín    1180969         118429
6                Ischilín     205080          30471
7           Juarez Celman    1382524          88997
8           Marcos Juárez    1539693         100200
9                   Minas      26750           4897
10                  Pocho      26712           5147
11  Pte. Roque Sáenz Peña     505783          34677
12                Punilla    1025037         162968
13             Río Cuarto    2208493         232175
14            Río Primero     688052          43516
15               Río Seco     125958          13088
16            Río Segundo    1163385          98264
17            San Alberto     190839          34090
18             San Javier     236806          50338
19              San Justo    2530314         193000
20            Santa María     519539          89855
21             Sobremonte      23529           4601
22         Tercero Arriba    1222153         108225
23                Totoral     403004          17068
24                Tulumba     177644          12404
25                  Unión    1491739         101052

In [45]:
# eliminando columnas por etiquetas
df = df.drop('Consumo nuevo', axis=1)
df
# eliminando varias columnas
df = df.drop(['Departamentos nuevo','PGB nuevo'], axis=1)
df # df vacío

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [52]:
# agregando columnas con las series guardadas
df["Consumo"] = s
df["PGB"] = s2
df["Departamentos"] = s3
print(df)
print("-------------------------------------------------------------")
# df['Indice'] = range(len(df)) # agrego una serie con los índices
df['Valores nulos'] = np.repeat(np.nan,len(df)) # agrego una serie con todos valores nulos
print(df)

    Consumo      PGB          Departamentos  Valores nulos
0     46870   466189            Calamuchita            NaN
1   1306725  9273055                Capitál            NaN
2    182028  1271521                  Colón            NaN
3     52906   289040           Cruz del Eje            NaN
4     33415   476036           General Roca            NaN
5    118429  1180969     General San Martín            NaN
6     30471   205080               Ischilín            NaN
7     88997  1382524          Juarez Celman            NaN
8    100200  1539693          Marcos Juárez            NaN
9      4897    26750                  Minas            NaN
10     5147    26712                  Pocho            NaN
11    34677   505783  Pte. Roque Sáenz Peña            NaN
12   162968  1025037                Punilla            NaN
13   232175  2208493             Río Cuarto            NaN
14    43516   688052            Río Primero            NaN
15    13088   125958               Río Seco            NaN
16    98264  1163385            Río Segundo            NaN
17    34090   190839            San Alberto            NaN
18    50338   236806             San Javier            NaN
19   193000  2530314              San Justo            NaN
20    89855   519539            Santa María            NaN
21     4601    23529             Sobremonte            NaN
22   108225  1222153         Tercero Arriba            NaN
23    17068   403004                Totoral            NaN
24    12404   177644                Tulumba            NaN
25   101052  1491739                  Unión            NaN
-------------------------------------------------------------
    Consumo      PGB          Departamentos  Valores nulos
0     46870   466189            Calamuchita            NaN
1   1306725  9273055                Capitál            NaN
2    182028  1271521                  Colón            NaN
3     52906   289040           Cruz del Eje            NaN
4     33415   476036           General Roca            NaN
5    118429  1180969     General San Martín            NaN
6     30471   205080               Ischilín            NaN
7     88997  1382524          Juarez Celman            NaN
8    100200  1539693          Marcos Juárez            NaN
9      4897    26750                  Minas            NaN
10     5147    26712                  Pocho            NaN
11    34677   505783  Pte. Roque Sáenz Peña            NaN
12   162968  1025037                Punilla            NaN
13   232175  2208493             Río Cuarto            NaN
14    43516   688052            Río Primero            NaN
15    13088   125958               Río Seco            NaN
16    98264  1163385            Río Segundo            NaN
17    34090   190839            San Alberto            NaN
18    50338   236806             San Javier            NaN
19   193000  2530314              San Justo            NaN
20    89855   519539            Santa María            NaN
21     4601    23529             Sobremonte            NaN
22   108225  1222153         Tercero Arriba            NaN
23    17068   403004                Totoral            NaN
24    12404   177644                Tulumba            NaN
25   101052  1491739                  Unión            NaN

In [56]:
# operaciones comunes en columnas
s = df['PGB'].isnull() # ver si los datos de una columna son nulos
print(s)
print("-------------------------------------------------------------")
s = df['PGB'].round(decimals=0) # redondear los datos de una columna a los decimales aclarados
print(s)
print("-------------------------------------------------------------")
# si queremos aplicar los sig métodos directamente en el df cambiar "s" por "df"
s = df['col'].abs() # aplcia el valor absoluto a cada valor de la columna y lo guarda en una serie s
s = df['PGB'].diff(periods=1) # calcula la diferencia entre cada valor de la columna y el anterior(o lo q pasemos) y lo guarda en una nueva serie s
s = df['col'].shift(periods=1) # desplaza hacia abajo los valores de la columna por los periodos especificados y lo guarda en s
s = df['col'].fillna(0) # cambia los valores nulos por 0

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: PGB, dtype: bool
-------------------------------------------------------------
0      466189
1     9273055
2     1271521
3      289040
4      476036
5     1180969
6      205080
7     1382524
8     1539693
9       26750
10      26712
11     505783
12    1025037
13    2208493
14     688052
15     125958
16    1163385
17     190839
18     236806
19    2530314
20     519539
21      23529
22    1222153
23     403004
24     177644
25    1491739
Name: PGB, dtype: int64
-------------------------------------------------------------
    Consumo      PGB          Departamentos  Valores nulos
0     46870   466189            Calamuchita            NaN
1   1306725  9273055                Capitál            NaN
2    182028  1271521                  Colón            NaN
3     52906   289040           Cruz del Eje            NaN
4     33415   476036           General Roca            NaN
5    118429  1180969     General San Martín            NaN
6     30471   205080               Ischilín            NaN
7     88997  1382524          Juarez Celman            NaN
8    100200  1539693          Marcos Juárez            NaN
9      4897    26750                  Minas            NaN
10     5147    26712                  Pocho            NaN
11    34677   505783  Pte. Roque Sáenz Peña            NaN
12   162968  1025037                Punilla            NaN
13   232175  2208493             Río Cuarto            NaN
14    43516   688052            Río Primero            NaN
15    13088   125958               Río Seco            NaN
16    98264  1163385            Río Segundo            NaN
17    34090   190839            San Alberto            NaN
18    50338   236806             San Javier            NaN
19   193000  2530314              San Justo            NaN
20    89855   519539            Santa María            NaN
21     4601    23529             Sobremonte            NaN
22   108225  1222153         Tercero Arriba            NaN
23    17068   403004                Totoral            NaN
24    12404   177644                Tulumba            NaN
25   101052  1491739                  Unión            NaN

# Trabajando con filas

In [64]:
# eliminar filas
df = df.drop([26,27]) # pongo los índices
print(df)
print("-------------------------------------------------------------")
# filtrar filas de una columna (por condiciones numéricas)
df = df[df['PGB'] >= 0.0] # el nuevo df solo contiene las filas en donde el PGB sea mayor o igual a 0
print(df)
print("-------------------------------------------------------------")
# filtrar filas de una columna (por cadenas)
df2 = df[df['Departamentos'].str.contains('Ca')] # me filtra en un nuevo df los departamentos que contengan "ca"
print(df2)
print("-------------------------------------------------------------")
# agregar filas al df
new_row = pd.DataFrame({'Consumo': [12404], 'PGB': [177644],'Departamentos': ['Tulumba']}) # creamos las filas a agregar
new_row2 = pd.DataFrame({'Consumo': [101052], 'PGB': [1491739],'Departamentos': ['Unión']})
df = pd.concat([df, new_row, new_row2], ignore_index=True)
print(df)

    Consumo      PGB          Departamentos  Valores nulos
0     46870   466189            Calamuchita            NaN
1   1306725  9273055                Capitál            NaN
2    182028  1271521                  Colón            NaN
3     52906   289040           Cruz del Eje            NaN
4     33415   476036           General Roca            NaN
5    118429  1180969     General San Martín            NaN
6     30471   205080               Ischilín            NaN
7     88997  1382524          Juarez Celman            NaN
8    100200  1539693          Marcos Juárez            NaN
9      4897    26750                  Minas            NaN
10     5147    26712                  Pocho            NaN
11    34677   505783  Pte. Roque Sáenz Peña            NaN
12   162968  1025037                Punilla            NaN
13   232175  2208493             Río Cuarto            NaN
14    43516   688052            Río Primero            NaN
15    13088   125958               Río Seco            NaN
16    98264  1163385            Río Segundo            NaN
17    34090   190839            San Alberto            NaN
18    50338   236806             San Javier            NaN
19   193000  2530314              San Justo            NaN
20    89855   519539            Santa María            NaN
21     4601    23529             Sobremonte            NaN
22   108225  1222153         Tercero Arriba            NaN
23    17068   403004                Totoral            NaN
24    12404   177644                Tulumba            NaN
25   101052  1491739                  Unión            NaN
26    12404   177644                Tulumba            NaN
27   101052  1491739                  Unión            NaN

In [66]:
# eliminar filas duplicadas
df = df.drop_duplicates()
df

    Consumo      PGB          Departamentos  Valores nulos
0     46870   466189            Calamuchita            NaN
1   1306725  9273055                Capitál            NaN
2    182028  1271521                  Colón            NaN
3     52906   289040           Cruz del Eje            NaN
4     33415   476036           General Roca            NaN
5    118429  1180969     General San Martín            NaN
6     30471   205080               Ischilín            NaN
7     88997  1382524          Juarez Celman            NaN
8    100200  1539693          Marcos Juárez            NaN
9      4897    26750                  Minas            NaN
10     5147    26712                  Pocho            NaN
11    34677   505783  Pte. Roque Sáenz Peña            NaN
12   162968  1025037                Punilla            NaN
13   232175  2208493             Río Cuarto            NaN
14    43516   688052            Río Primero            NaN
15    13088   125958               Río Seco            NaN
16    98264  1163385            Río Segundo            NaN
17    34090   190839            San Alberto            NaN
18    50338   236806             San Javier            NaN
19   193000  2530314              San Justo            NaN
20    89855   519539            Santa María            NaN
21     4601    23529             Sobremonte            NaN
22   108225  1222153         Tercero Arriba            NaN
23    17068   403004                Totoral            NaN
24    12404   177644                Tulumba            NaN
25   101052  1491739                  Unión            NaN